{
  "openapi": "3.0.3",
  "info": {
    "title": "Bom Pedido API",
    "version": "1.0.0",
    "description": "API para gerenciamento de pedidos, delivery ou fisicos."
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Todas as operações de autenticação. \n\nServiços Utilizados: \n - Google \n - Facebook \n - AppleId",
      "x-displayName": "Autenticação"
    },
    {
      "name": "Customer",
      "description": "Todas as operações para o cliente",
      "x-displayName": "Cliente"
    },
    {
      "name": "Products",
      "description": "Tudo sobre Produtos",
      "x-displayName": "Produtos"
    },
    {
      "name": "Shopping Cart",
      "description": "Operações sobre o Carrinho de Compras",
      "x-displayName": "Carrinho de Compras"
    },
    {
      "name": "Orders",
      "description": "Operações sobre Pedidos",
      "x-displayName": "Pedidos"
    }
  ],
  "servers": [
    {
      "url": "https://api.bompedido.app/api",
      "description": "Produção"
    },
    {
      "url": "http://localhost:8080/api",
      "description": "Local"
    }
  ],
  "paths": {
    "/v1/auth/google/customer": {
      "post": {
        "summary": "Autenticar Cliente com Google",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "description": "Dados de autenticação do cliente via Google",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cliente autenticado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/me": {
      "get": {
        "summary": "Obter Dados do Cliente",
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Dados do cliente retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cliente não encontrado"
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "post": {
        "summary": "Criar Produto",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "description": "Dados do produto a ser criado",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar Produtos",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Lista de produtos retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopping-cart/checkout": {
      "post": {
        "summary": "Checkout do Carrinho de Compras",
        "tags": [
          "Shopping Cart"
        ],
        "requestBody": {
          "description": "Dados necessários para processar o checkout",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Pedido realizado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopping-cart/items": {
      "patch": {
        "summary": "Adicionar Item ao Carrinho de Compras",
        "tags": [
          "Shopping Cart"
        ],
        "requestBody": {
          "description": "Dados necessários para adicionar um item ao carrinho",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddItemRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Item adicionado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/approve": {
      "post": {
        "summary": "Aprovar Pedido",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser aprovado"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido aprovado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/reject": {
      "post": {
        "summary": "Rejeitar Pedido",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser rejeitado"
          }
        ],

        "requestBody": {
          "description": "Dados para rejeição do Pedido",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason"],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Razão da rejeição",
                    "example": "Solicitação do Cliente"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Pedido rejeitado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/cancel": {
      "post": {
        "summary": "Cancelar Pedido",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser cancelado"
          }
        ],
        "requestBody": {
          "description": "Dados para cancelamento do Pedido",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason"],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Razão do cancelamento",
                    "example": "Solicitação do Cliente"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Pedido cancelado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/finish": {
      "post": {
        "summary": "Finalizar Pedido",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser finalizado"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido finalizado com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/in-progress": {
      "post": {
        "summary": "Marcar Pedido como Em Progresso",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser marcado como em progresso"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido marcado como em progresso com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/delivering": {
      "post": {
        "summary": "Marcar Pedido como Em Entrega",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser marcado como em entrega"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido marcado como em entrega com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/awaiting-withdraw": {
      "post": {
        "summary": "Marcar Pedido como Aguardando Retirada",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser marcado como aguardando retirada"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido marcado como aguardando retirada com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/awaiting-delivery": {
      "post": {
        "summary": "Marcar Pedido como Aguardando Entrega",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do pedido a ser marcado como aguardando entrega"
          }
        ],
        "responses": {
          "204": {
            "description": "Pedido marcado como aguardando entrega com sucesso"
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnAuthorizedErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CheckoutRequest": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "string",
            "example": "credit_card"
          },
          "addressId": {
            "type": "string",
            "example": "abc123"
          }
        },
        "required": [
          "paymentMethod",
          "addressId"
        ]
      },
      "AddItemRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "01916125-fb78-765d-80dc-3ab8106d569b"
          },
          "description": {
            "type": "string",
            "example": "Sem Cebola"
          },
          "quantity": {
            "type": "integer",
            "example": 2
          }
        },
        "required": [
          "productId",
          "quantity"
        ]
      },
      "CreateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Produto X"
          },
          "description": {
            "type": "string",
            "example": "Detalhes do produto x"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 99.99
          }
        },
        "required": [
          "name",
          "price"
        ]
      },
      "CreateProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "019160ee-7929-72d3-99cf-6c7f33789ba8"
          }
        }
      },
      "ProductListResponse": {
        "type": "array",
        "items": {
          "properties": {
            "id": {
              "type": "string",
              "example": "01916125-fb78-765d-80dc-3ab8106d569b"
            },
            "name": {
              "type": "string",
              "example": "Produto X"
            },
            "description": {
              "type": "string",
              "example": "Detalhes do Produto X"
            },
            "price": {
              "type": "number",
              "format": "float",
              "example": 99.99
            },
            "imageURL": {
              "type": "string",
              "example": "https://images.bompedido.app/01916125-fb78-765d-80dc-3ab8106d569b"
            }
          }
        }
      },
      "GoogleAuthRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "google_token_abc123"
          }
        },
        "required": [
          "token"
        ]
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "access_token_xyz789"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Cliente X",
            "description": "Nome do Cliente",
            "nullable": false
          },
          "email": {
            "type": "string",
            "example": "cliente@bompedido.app",
            "description": "Email do Cliente",
            "nullable": false
          },
          "phoneNumber": {
            "type": "string",
            "example": "16999999999",
            "description": "Número de Telefone do Cliente",
            "nullable": true
          }
        }
      },
      "BadRequestErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": [
              {
                "type": "string",
                "example": "O campo X é obrigatório"
              }
            ]
          }
        }
      },
      "UnAuthorizedErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": [
              {
                "type": "string",
                "example": "Você não possui permissão para acessar esse recurso"
              }
            ]
          }
        }
      },
      "InternalServerErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": [
              {
                "type": "string",
                "example": "Ocorreu um erro interno"
              }
            ]
          }
        }
      }
    }
  }
}